<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - EPL Score Prediction Heatmaps</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <script>
        function toggleMenu() {
            document.querySelector('.menu').classList.toggle('show');
        }
    </script>

    <!-- Navbar -->
    <div class="navbar">
        <a href="#">
            <img src="{{ url_for('static', filename='logo/FiveFiveStat.png') }}" alt="FiveStat Logo" class="logo">
        </a>
        <!-- <div class="menu-icon" onclick="toggleMenu()">☰</div> -->
        <div class="menu">
            <div class="dropdown">
                <a href="#" class="dropbtn" onclick="toggleDropdown(event)">Premier League ▼</a>
                <div class="dropdown-content" id="eplDropdown">
                    <a href="/">Fixtures</a>
                    <a href="/results">Results</a>
                    <a href="/epl_table">League Table</a>
                    <a href="/epl-players">Player Stats</a>
                </div>
            </div>
            <a href="/about">About</a>
        </div>
    </div>

    <div class="container">
        <h1>About This Project</h1>
        <p>
            Welcome to FiveStat - The Football Data Analysis project!
        </p>
        <p>
            This site is a project aimed at analyzing football fixtures and generating correct score heatmaps built from data-driven predictions.  
        </p>
        <p>
            This site will be evolving as I go, refining the model and adding new features. <br>
            I'm excited to see where we can take this!
        </p>
        <p>
            You can follow our journey via X (Twitter):  
            <a href="https://twitter.com/fivefivestat" target="_blank">@fivefivestat</a>
        </p>
    </div>

    <script>
        function toggleDropdown(event) {
            event.preventDefault();  // Prevents page from jumping
            let dropdown = document.querySelector('.dropdown');
            dropdown.classList.toggle('show');
        }
        
        // Close dropdown if clicked outside
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                let dropdowns = document.getElementsByClassName("dropdown");
                for (let i = 0; i < dropdowns.length; i++) {
                    let openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        };
    </script>
        

</body>
</html>
