<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiveStat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/FiveStat_plain.png') }}">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SQPCR3KM4Y"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SQPCR3KM4Y');
    </script>
</head>
<body>

    <script>
        function toggleMenu() {
            document.querySelector('.menu').classList.toggle('show');
        }
    </script>

    <!-- Navbar -->
    <div class="navbar">
        <a href="/">
            <img src="{{ url_for('static', filename='logo/FiveStat.png') }}" alt="FiveStat Logo" class="logo">
        </a>
        <!-- <div class="menu-icon" onclick="toggleMenu()">☰</div> -->
        <div class="menu">
            <a href="javascript:void(0);" onclick="toggleModal('feedbackModal')">Feedback</a>
        
            <div class="dropdown">
                <span class="dropbtn" onclick="toggleDropdown(event)">Premier League ☰</span>
                <div class="dropdown-content" id="eplDropdown">
                    <a href="/epl_fixtures">Fixtures</a>
                    <a href="/epl_results">Results</a>
                    <a href="/epl_table">League Stats</a>
                    <a href="/epl-players">Player Stats</a>
                </div>
            </div>
        </div>        
    </div>

    <div class="container">
        <p>
            <strong>Welcome to FiveStat</strong> <br> A live Football Data Modelling, Visuals & Analysis Project in early development!
        </p>
        <p>
            This site is a soft launch project aimed at analyzing football fixtures, generating 
            data visualizations and building predictive models derived from a data-driven approach. 
        </p>
        <p>
            I’ve been building this from the ground up using Python, Flask web hosting, predictive modeling and a lot of trial and error!
        </p>
        <p><strong>Currently, you can explore:</strong> Correct Score prediction heatmaps (derived from xG-driven Poisson models), 
            Player radar comparisons & goal projections, Fixture Shotmaps & Stats, Team performance & form analysis, 
            Simulated league table to show the final standings
        </p>    
        <p><strong>What's coming soon:</strong> Optional user accounts (still free!), Email newsletter for developement & gameweek insights and
            looking to intorduce more leagues & competitions beyond the Premier League
        </p>
        <br>
        <p>
            You can read a bit more about the back end workings of this site and how it has been developed<a href="./methodology">HERE</a>
        </p>
        <p>
            Have a look around and let us know what you think!
        </p>
        <p>
            <strong>Enjoy!</strong>
        </p>
        
    </div>

    <div class="team_shotmap_image">
        <img class="shotmap" id="landing-page" src="../static/shotmaps/all/all_shots.png" alt="shotmap unavailable">
    </div>
    <script>
        function toggleDropdown(event) {
            event.preventDefault();  // Prevents page from jumping
            let dropdown = document.querySelector('.dropdown');
            dropdown.classList.toggle('show');
        }
        
        // Close dropdown if clicked outside
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                let dropdowns = document.getElementsByClassName("dropdown");
                for (let i = 0; i < dropdowns.length; i++) {
                    let openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        };



        function toggleModal(id) {
            let modal = document.getElementById(id);
            let overlay = document.getElementById(id + "Overlay");
            let isVisible = modal.style.display === "block";

            modal.style.display = isVisible ? "none" : "block";
            overlay.style.display = isVisible ? "none" : "block";

            if (id === 'feedbackModal') {
                gtag('event', 'feedback_opened', {
                    'event_category': 'Engagement',
                    'event_label': 'Feedback Modal Opened',
                    'value': 1
                });
            }
        }

    </script>

    <!-- Feedback Modal Overlay -->
    <div class="modal-overlay" id="feedbackModalOverlay" onclick="toggleModal('feedbackModal')"></div>

    <!-- Feedback Modal -->
    <div class="modal" id="feedbackModal">
        <button class="close-button" onclick="toggleModal('feedbackModal')">✖</button>
        <h3>We'd love your feedback!</h3>
        <p>Please take a moment to answer a few quick questions to help improve FiveStat.</p>

        <iframe 
            src="https://docs.google.com/forms/d/e/1FAIpQLSesKNjoVAtzPk068PWblp627hMvFa0OpHpbThOkGgwezniPhA/viewform?embedded=true" 
            width="100%" 
            height="600" 
            frameborder="0" 
            marginheight="0" 
            marginwidth="0">
            Loading…
        </iframe>
    </div>

        

</body>
</html>