<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiveStat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='FiveStat_plain.png') }}">
</head>
<body>

    <script>
        function toggleMenu() {
            document.querySelector('.menu').classList.toggle('show');
        }
    </script>

    <!-- Navbar -->
    <div class="navbar">
        <a href="/">
            <img src="{{ url_for('static', filename='logo/FiveStat.png') }}" alt="FiveStat Logo" class="logo">
        </a>
        <!-- <div class="menu-icon" onclick="toggleMenu()">☰</div> -->
        <div class="menu">
            <div class="dropdown">
                <span class="dropbtn" onclick="toggleDropdown(event)">Premier League ☰</span>
                <div class="dropdown-content" id="eplDropdown">
                    <a href="/epl_fixtures">Fixtures</a>
                    <a href="/epl_results">Results</a>
                    <a href="/epl_table">League Stats</a>
                    <a href="/epl-players">Player Stats</a>
                </div>
            </div>
        </div> 
    </div>

    <div class="container">
        <p>
            Welcome to FiveStat - The Football Data Visuals & Analysis Project!
        </p>
        <p>
            This site is a project aimed at analyzing football fixtures and generating 
            data visualizations and predictive models built from a data-driven approach.  
        </p>
        <p>
            This site will be evolving as I go, refining the model and adding new features. <br>
            I'm excited to see where we can take this!
        </p>
        
    </div>
    <div class="team_shotmap_image">
        <img class="shotmap" src="../static/shotmaps/all/all_shots.png" alt="shotmap unavailable">
    </div>
    <script>
        function toggleDropdown(event) {
            event.preventDefault();  // Prevents page from jumping
            let dropdown = document.querySelector('.dropdown');
            dropdown.classList.toggle('show');
        }
        
        // Close dropdown if clicked outside
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                let dropdowns = document.getElementsByClassName("dropdown");
                for (let i = 0; i < dropdowns.length; i++) {
                    let openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        };
    </script>
        

</body>
</html>