<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FiveStat - Team Shotmaps & Form Analysis</title>
    <meta name="description" content="Explore Team Shotmaps and Form Stats for every Premier League team.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="FiveStat - Football Analytics & EPL Predictions">
    <meta property="og:description" content="Explore match predictions, player stats, and correct score forecasts powered by data.">
    <meta property="og:url" content="https://www.fivestat.co.uk/">
    <meta property="og:type" content="website">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/FiveStat_plain.png') }}">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SQPCR3KM4Y"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SQPCR3KM4Y');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <a href="/">
            <img src="{{ url_for('static', filename='logo/FiveStat.png') }}" alt="FiveStat Logo" class="logo">
        </a>
        <!-- <div class="menu-icon" onclick="toggleMenu()">☰</div> -->
        <div class="menu">
            <div class="dropdown">
                <span class="dropbtn" onclick="toggleDropdown(event)">Premier League ☰</span>
                <div class="dropdown-content" id="eplDropdown">
                    <a href="/epl_fixtures">Fixtures</a>
                    <a href="/epl_results">Results</a>
                    <a href="/epl_table">League Stats</a>
                    <a href="/epl-players">Player Stats</a>
                </div>
            </div>
        </div>        
    </div>

    <div class="team-switcher">
        <select id="team-select" onchange="navigateToTeam(this.value); trackTeamSelect(this.value)">
            {% for team_option in all_teams %}
              <option value="{{ team_option }}" {% if team_option == team.name %}selected{% endif %}>
                {{ team_display_names[team_option] }}
              </option>
            {% endfor %}
        </select>          
    </div>
      



    <div class="team-header">
        <img src="{{ url_for('static', filename=('team_logos/' + team.name + '_logo.png')|lower) }}" alt="{{ team.name }} Logo" class="team-logo">
        <h1>{{ team.display_name }}</h1>
        <p><strong>Manager:</strong> {{ team.manager }}</p>
        <p><strong>Stadium:</strong> {{ team.stadium }}</p>
    </div>

    <hr class="fixture-divider">

    <div class="section">
        <div class="table-scroll">
            <table class="league-table" id="teamLeagueTable">
                <thead>
                    <tr>
                        <th>Pos</th>
                        <th class="bold-left-border">Team</th>
                        <th class="bold-left-border">MP</th>
                        <th class="bold-left-border">W</th>
                        <th class="hide-left-border">D</th>
                        <th>L</th>
                        <th class="bold-left-border">G</th>
                        <th>GA</th>
                        <th class="bold-left-border">PTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in league_table %}
                    <tr class="{% if t.Team == team.name %}highlight{% endif %}">
                        <td>{{ loop.index0 + start_position + 1 }}</td>
                        <td class="bold-left-border"><a href="{{ url_for('team_page', team_name=t["Team"]) }}">{{ t["Team"] }}</a></td>
                        <td class="bold-left-border">{{ t["MP"] }}</td>
                        <td class="bold-left-border">{{ t["W"] }}</td>
                        <td class="hide-left-border">{{ t["D"] }}</td>
                        <td>{{ t["L"] }}</td>
                        <td class="bold-left-border">{{ t["G"] }}</td>
                        <td>{{ t["GA"] }}</td>
                        <td class="bold-left-border">{{ t["PTS"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="view-toggle">
            <label class="switch">
                <input type="checkbox" id="toggleResultsView" onchange="toggleAllSections(this.checked)">
                <span class="slider round"></span>
            </label>
            <span id="resultsToggleLabel">Expand All Sections</span>
        </div>
        

        <div class="fixture-toggle-wrapper">
            <div class="fixture-header" onclick="toggleFixtureSection('form')">
                <span class="dropdown-spacer"></span>
                <h3>Recent Form</h3>
                <span class="dropdown-icon" id="form-icon"><i class="fas fa-chevron-down"></i></span>
            </div>
            <div id="form-section" class="fixture-body">
                <div class="form-display">
                <div class="form-arrow"><i class="fa-solid fa-arrow-left-long"></i> most recent</div>
                <div class="form-icons">
                    <span class="form-arrow"></span>
                    {% for result in team.form %}
                    <span class="form-circle {{ result }}">{{ result|upper }}</span>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>

        <div class="fixture-toggle-wrapper">
            <div class="fixture-header" onclick="toggleFixtureSection('radar')">
                <span class="dropdown-spacer"></span>
                <h3>Performance Radar</h3>
                <span class="dropdown-icon" id="radar-icon"><i class="fas fa-chevron-down"></i></span>
            </div>
            <div id="radar-section" class="fixture-body">
                <div class="team_radar">
                <img src="{{ url_for('static', filename=('radar/teams/' + team.name + '_team_radar.png')) }}"
                        alt="{{ team.display_name }} Radar Chart"
                        class="team-radar-img">
                </div>
            </div>
        </div>

        <div class="fixture-toggle-wrapper">
            <!-- Previous Fixture Section -->
            <div class="fixture-header" onclick="toggleFixtureSection('prev')">
                <span class="dropdown-spacer"></span> <!-- Left spacer to balance -->
                <h3>Previous Fixtures</h3>
                <span class="dropdown-icon" id="prev-icon"><i class="fas fa-chevron-down"></i></span>
            </div>
            <div id="prev-section" class="fixture-body">
                <div class="gw-selector">
                    <select id="prev-gw-select" onchange="updatePrevFixture(this.value); trackTeamSelect(this.value)">
                    {% for gw in previous_gameweeks %}
                        <option value="{{ gw }}" {% if gw == current_result_gw %}selected{% endif %}>
                        Gameweek {{ gw }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
                <img id="prev-shotmap" class="shotmap" src="{{ url_for('static', filename='shotmaps/' + prev_fixture_image) }}">
            </div>
        </div>

        <div class="fixture-toggle-wrapper">
            <!-- Next Fixture Section -->
            <div class="fixture-header" onclick="toggleFixtureSection('next')">
                <span class="dropdown-spacer"></span>
                <h3>Upcoming Fixtures</h3>
                <span class="dropdown-icon" id="next-icon"><i class="fas fa-chevron-down"></i></span>
            </div>
            <div id="next-section" class="fixture-body">
                <div class="gw-selector">
                    <select id="next-gw-select" onchange="updateNextFixture(this.value); trackTeamSelect(this.value)">
                    {% for gw in upcoming_gameweeks %}
                        <option value="{{ gw }}" {% if gw == current_fixture_gw %}selected{% endif %}>
                        Gameweek {{ gw }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
                <img id="next-heatmap" class="heatmap" src="{{ url_for('static', filename='heatmaps/' + next_fixture_image) }}">
            </div>
        </div>



        <div class="fixture-toggle-wrapper">
            <div class="fixture-header" onclick="toggleFixtureSection('simulated')">
                <span class="dropdown-spacer"></span>
                <h3>Simulated Final League Table</h3>
                <span class="dropdown-icon" id="simulated-icon"><i class="fas fa-chevron-down"></i></span>
            </div>
            <div id="simulated-section" class="fixture-body">
                <div class="table-container">
                    <table id="simulatedTeamTable">
                        <thead>
                            <tr>
                                <th>Pos</th>
                                <th class="bold-left-border">Team</th>
                                {% for p in range(1, num_sim_positions + 1) %}
                                <th>{{ p }}</th>
                                {% endfor %}
                                <th class="bold-left-border">Final xPTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in simulated_table %}
                            <tr class="{% if t.Team == team.name %}highlight{% endif %}">
                                <td>{{ loop.index0 + sim_start + 1 }}</td>
                                <td class="bold-left-border"><a href="{{ url_for('team_page', team_name=t["Team"]) }}">{{ t["Team"] }}</a></td>
                                {% for p in range(1, num_sim_positions + 1) %}
                                    {% set prob = t[p|string] * 100 %}
                                    {% set shade = prob / 50 %}
                                    <td class="small-text" style="background-color: rgba(76, 0, 153, {{ shade }}); color: white;">
                                        {{ prob | round(1) }}%
                                    </td>
                                {% endfor %}
                                <td class="bold-left-border">{{ t["Final xPTS"] | round(1) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <div class="bar-chart-container" style="max-width: 800px; margin: 0 auto;">
                        <h3 style="text-align: center; margin-top: 30px;">Position Probability Distribution</h3>
                        <canvas id="positionBarChart"></canvas>
                    </div>
            </div>
        </div>
        






        <div class="fixture-toggle-wrapper">
            <div class="fixture-header" onclick="toggleFixtureSection('shotmap')">
              <span class="dropdown-spacer"></span>
              <h3>Shotmap - 24/25 Season</h3>
              <span class="dropdown-icon" id="shotmap-icon"><i class="fas fa-chevron-down"></i></span>
            </div>
            <div id="shotmap-section" class="fixture-body">
              <img class="shotmap" src="{{ url_for('static', filename='shotmaps/team/' + team.name + '_shotmap.png') }}" alt="Team Shotmap" style="max-width: 1000px;  @media (min-width: 900px) {margin: 0 auto; padding: 2rem;}">
            </div>
        </div>


    </div>

    <!-- Additional sections will be added for squad, fixtures, and more -->



    <script>
        function toggleDropdown(event) {
            event.preventDefault();  // Prevents page from jumping
            let dropdown = document.querySelector('.dropdown');
            dropdown.classList.toggle('show');
        }

        function navigateToTeam(teamName) {
            const encoded = encodeURIComponent(teamName);
            window.location.href = `/team/${encoded}`;
        }



        const team = "{{ team.name }}";

        window.pastFixtures = {{ past_fixtures_by_gw | tojson }};
        window.nextOpponents = {{ next_opponents_by_gw | tojson }};

        function updatePrevFixture(gw) {
            const fixture = window.pastFixtures[gw];
            if (!fixture) return;

            const shotmapPath = `/static/shotmaps/${fixture.home}_${fixture.away}_shotmap.png`;
            document.getElementById("prev-shotmap").src = shotmapPath;
        }

        function updateNextFixture(gw) {
            const opp = window.nextOpponents[gw] || "Unknown";
            const heatmapPath = `/static/heatmaps/${team}_${opp}_heatmap.png`;
            document.getElementById("next-heatmap").src = heatmapPath;
        }




        function toggleFixtureSection(section) {
            const body = document.getElementById(`${section}-section`);
            const icon = document.getElementById(`${section}-icon`).querySelector('i');

            const isOpen = body.classList.contains('open');
            if (isOpen) {
                body.classList.remove('open');
                body.style.maxHeight = "0";
                icon.className = "fas fa-chevron-left";
            } else {
                body.classList.add('open');
                body.style.maxHeight = "1000px";
                icon.className = "fas fa-chevron-down";
            }
        }

        function toggleAllSections(expand) {
            const sections = ["prev", "next", "form", "radar", "simulated", "shotmap"];
            const label = document.getElementById("resultsToggleLabel");

            sections.forEach(section => {
                const body = document.getElementById(`${section}-section`);
                const icon = document.getElementById(`${section}-icon`).querySelector('i');

                if (expand) {
                body.classList.add("open");
                body.style.maxHeight = "1000px";
                icon.className = "fas fa-chevron-down";
                } else {
                body.classList.remove("open");
                body.style.maxHeight = "0";
                icon.className = "fas fa-chevron-left";
                }
            });

            label.textContent = expand ? "Collapse All Sections" : "Expand All Sections";
            }


        function openPlayerModal(playerName) {
            let imageUrl = `/static/radar/${playerName}_radar.png`;
            document.getElementById("playerRadarImage").src = imageUrl;
            toggleModal('playerInfoModal');

            gtag('event', 'player_radar_viewed', {
                'event_category': 'Radar Chart',
                'event_label': playerName,
                'value': 1
            });
        }

        function toggleModal(id) {
            let modal = document.getElementById(id);
            let overlay = document.getElementById(id + "Overlay");
            let isVisible = modal.style.display === "block";

            modal.style.display = isVisible ? "none" : "block";
            overlay.style.display = isVisible ? "none" : "block";

            if (id === 'feedbackModal') {
                gtag('event', 'feedback_opened', {
                    'event_category': 'Engagement',
                    'event_label': 'Feedback Modal Opened',
                    'value': 1
                });
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const rawData = {{ sim_position_dist | tojson }};
            if (!rawData.length) return;

            const labels = rawData.map(d => `${d.position}`);
            const data = rawData.map(d => d.probability);

            const maxValue = Math.max(...data);
            const yMax = Math.min(100, Math.ceil(maxValue * 1.1));

            const ctx = document.getElementById("positionBarChart").getContext("2d");

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels,
                    datasets: [{
                        label: "Probability (%)",
                        data,
                        backgroundColor: 'rgba(63, 0, 125, 0.7)',
                        borderColor: '#3f007d',
                        borderWidth: 1.5
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: false },
                        tooltip: {
                            callbacks: {
                                label: context => `${context.raw.toFixed(1)}%`
                            }
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: yMax,
                            title: {
                                display: true,
                                text: 'Probability (%)'
                            }
                        }
                    }
                }
            });
        });

    </script>

     <!-- Feedback Modal Overlay -->
    <div class="modal-overlay" id="feedbackModalOverlay" onclick="toggleModal('feedbackModal')"></div>

    <!-- Feedback Modal -->
    <div class="modal" id="feedbackModal">
        <button class="close-button" onclick="toggleModal('feedbackModal')">✖</button>
        <h3>We'd love your feedback!</h3>
        <p>Please take a moment to answer a few quick questions to help improve FiveStat.</p>

        <iframe 
            src="https://docs.google.com/forms/d/e/1FAIpQLSesKNjoVAtzPk068PWblp627hMvFa0OpHpbThOkGgwezniPhA/viewform?embedded=true" 
            width="100%" 
            height="600" 
            frameborder="0" 
            marginheight="0" 
            marginwidth="0">
            Loading…
        </iframe>
    </div>
      
    <button id="backToTop" title="Back to Top">↑</button>

    <script>
        // Show/hide the back-to-top button
        window.onscroll = function () {
            const button = document.getElementById("backToTop");
            if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
                button.style.display = "block";
            } else {
                button.style.display = "none";
            }
        };

        // Scroll to top smoothly when clicked
        document.getElementById("backToTop").addEventListener("click", function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>


    <footer class="footer">
        <p>Last updated: {{ last_updated }}</p>
    </footer>

</body>
</html>
